@media (min-width:767px) {
	.right-div {
		/*padding-left:0px;*/
		padding: 0px;
	}
}

.author {
	font-style: italic;
}

.description {
	font-size: small;
}

.panel-title {
	display: inline;
}

.commentIcon {
	vertical-align: middle;
	font-size: 40px;
}

.commentIcon:hover .favoriteIcon:hover {
	cursor: pointer;
}

.fa-heart-o {}

.fa-heart {
	color: red;
}

.panel {
	margin-bottom: 0px !important;
}

.comments {
	margin-bottom: 50px !important;
}
.loadMoreComments {
	text-align: center;
}

.comment hr {
	margin: 10px;
}
