.image-title {
	font-style: italic;
	font-size: medium;
}

.imageholder img {
	width: 100% !important;
}

.image:hover {
	cursor: pointer;
}

.fa:hover {
	cursor: pointer;
}
#noPostsText {
	text-align: center;
}
