#bs-example-navbar-collapse-1 .btn {
	transform: translateY(35%);
}

.vcenter {
	transform: translateY(35%);
}

#topButton,
#trendingButton,
#favoritesButton,
#myUploadsButton {
	cursor: pointer;
}

.nav a {
	font-size: 20px;
}